<div
  class="bg-[url('/static/images/bottom_banner.png')] bg-cover bg-center h-[600px] flex flex-col items-center justify-center"
>
  <div class="rounded-md px-4 py-1 bg-[#ffffff50] text-xs text-white mb-3">
    Fashion
  </div>

  <h2 class="text-white text-4xl font-bold max-w-[500px] mx-auto text-center">
    Richird Norton photorealistic rendering as real photos
  </h2>

  <p class="text-white text-xs mt-[15px] max-w-[420px] text-center">
    Progressively incentivize cooperative systems through technically sound
    functionalities. The credibly productivate seamless data.
  </p>
</div>
